#brush-sample {
  .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }

  .area {
    fill: #969696;
  }

  .bar {
    fill: steelblue;
    &:hover {
      fill: brown;
    }
  }

  #timeline {
    .brush {
      transform: translate(0, 20px);
    }
  }

  .x.axis {
    path {
      display: none;
    }
  }

  #gatenames {
    svg {
      overflow: visible;
    }
    .x.axis {
      .tick {
        text {
          text-anchor: end;
          transform: rotate(-45deg) translate(-6px, -1px);
        }
      }
    }
  }
}
